:root {
  /* tokens */
  --light:#fff;
  --light--t80:#fffc;
  --light--t60:#fff9;
  --light--t40:#fff6;
  --light--t20:#fff3;


  --grey--8:hsl(345 3% 8%);
  --grey--8--t80:hsl(345 3% 8% / .8);
  
  --grey--16:hsl(345 3% 16%);
  --grey--16--t80:hsl(345 3% 16% / .8);
  
  --grey--24:hsl(345 3% 24%);
  --grey--24--t80:hsl(345 3% 24% / .8);

  --grey--32:hsl(345 3% 32%);
  --grey--32--t80:hsl(345 3% 32% / .8);
  --grey--32--t60:hsl(345 3% 32% / .6);
  --grey--32--t40:hsl(345 3% 32% / .4);
  --grey--32--t20:hsl(345 3% 32% / .2);


  --yellow--cmd:#FFF021;
  --blue--cmd:#011BFD;

  --yellow:#FFF021;
  --orange:#FDDB9E;
  --pink:#F8A1BB;
  --green:#BDE4B6;
  --blue:#C5E3F7;
  --purple:#DEB8E0;
  --turquoise:#B9E7DF;

  --yellow--br:#FFF021;
  --orange--br:#F9BC4E;
  --pink--br:#F35A8E;
  --green--br:#6CC670;
  --blue--br:#59B6E9;
  --purple--br:#B558B3;
  --turquoise--br:#57C5BE;

  /* light theme */
  --bg-root:var(--light);
  --clr-root:var(--grey--24);

  --clr-link:var(--blue--cmd);
  --outline-link:var(--blue--cmd);

  --clr-link-hero:var(--blue--cmd);
  --outline-link-hero:var(--blue-cmd);

  --bg-header:var(--light);
  --bg-header-gradient:linear-gradient(var(--light) 10%, var(--light--t80));

  --bg-button--panel:var(--light);
  --clr-button--panel:var(--grey--24);
  --brdr-button--panel:var(--grey--24);

  --bg-aside:var(--light--t60);
  --bg-tab-selected:var(--grey--24);
  --clr-tab-selected:var(--light);
  --bg-aside__fog:var(--light--t40);
  /* --line-aside__fog:var(--light--t40); */

  --bg-h1:var(--yellow--cmd);
  --clr-h1:var(--grey--24);
  --bg-h1__strong:var(--grey--24);
  --clr-h1__strong:var(--light);
  --bg-h1__handle:var(--light);
  --brdr-h1__handle:var(--grey--24);

  --color-breadcrumb:var(--grey--24);

  --accent-color:var(--blue--cmd);
  accent-color:var(--accent-color);
  color-scheme:light;
  
}

:root[data-color-scheme="dark"] {
  /* tokens */
  --yellow:#AE9E3B;
  --orange:#AD8D55;
  --pink:#AA6176;
  --green:#709165;
  --blue:#5B8BA6;
  --purple:#8E5884;
  --turquoise:#669590;

  /* dark theme */
  --bg-root:var(--grey--32);
  --clr-root:var(--light);

  --clr-link:var(--yellow--br);
  --outline-link:var(--yellow--br);

  --clr-link:var(--yellow--br);
  --outline-link:var(--yellow--br);

  --bg-header:var(--grey--32);
  --bg-header-gradient:linear-gradient(var(--grey--32) 10%, var(--grey--32--t80));

  --bg-button--panel:var(--dark);
  --clr-button--panel:var(--light);
  --brdr-button--panel:var(--light);

  --bg-aside:var(--grey--32--t80);
  --bg-tab-selected:var(--light);
  --clr-tab-selected:var(--grey--8);
  --bg-aside__fog:var(--grey--32--t40);
  /* --line-aside__fog:var(--grey--32--t40); */

  --clr-h1:var(--grey--8);
  --bg-h1__strong:var(--light);
  --clr-h1__strong:var(--grey--8);
  --brdr-h1__handle:var(--grey--8);

  --color-breadcrumb:var(--yellow--cmd);

  --accent-color:var(--yellow--cmd);
  color-scheme:dark;
}