/**********/
/* REMEDY */
/**********/

*,
*::before,
*::after {
  box-sizing:border-box;

  font-family:'Open Sans Var', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smooth: auto;
  font-variant-numeric: oldstyle-nums;

  letter-spacing: calc(.01em * var(--setting--whitespace, 0));
  word-spacing: calc(.03em * var(--setting--whitespace, 0));
}

:root[data-font-family="Dyslexie"] *,
:root[data-font-family="Dyslexie"] *::before,
:root[data-font-family="Dyslexie"] *::after {
  font-family:'Dyslexie', Arial, sans-serif;
  font-size-adjust: .50;
}

:root[data-font-family="OpenDyslexic"] *,
:root[data-font-family="OpenDyslexic"] *::before,
:root[data-font-family="OpenDyslexic"] *::after {
  font-family:'Open Dyslexic', Arial, sans-serif;
  font-size-adjust: .5;
}

:root[data-font-family="ComicSans"] *,
:root[data-font-family="ComicSans"] *::before,
:root[data-font-family="ComicSans"] *::after {
  font-family:'Comic Sans MS', Arial, sans-serif;
}





/**********/
/* TOKENS */
/**********/

:root {
  font-size:calc(
    clamp( 1em, 2.5vmin, 1.25em) * 
    (1 + .1 * var(--setting--font-size, 0)) *
    var(--font-size-adjust, 1)
  );

  --gap: clamp(1rem, 4vw, 2rem);
  --size-button:2.25em;

  --header-min-height:calc( var(--size-button) + max(2em, var(--gap)) );

  --line-height-factor:calc(1 + var(--setting--whitespace, 0) * .05);
}

@media (width > 23em) {
  :root {
    --size-button:2.5em;
  }
}




/**********/
/* BASICS */
/**********/

body {
  color:var(--clr-root);
  background-color:var(--bg-root);  
}

html[data-reduced-motion="no-preference"] {
  scroll-behavior:smooth;
}

body{
  margin:0;
}

h2,
p,
li,
summary,
legend,
.radio-setting,
.check-setting,
.range-setting {
  line-height: calc(1.6 * var(--line-height-factor));
  text-wrap:pretty;
}

img {
  max-width:100%;
}

use {
  fill:currentcolor;
}

:focus-visible {
  outline:solid .1em var(--outline-link);
}

button, input, text-area {
  font-size:1em;
}

button:not([disabled], [inert]) {
  cursor:pointer;
}

a {
  color:var(--clr-link);
  
  text-underline-offset:.15em;
  text-decoration-thickness:.07em;

  
  outline-offset:.125em;
  /* border-radius:.125em; */
}

a:focus-visible {
  text-decoration:none;
  outline:solid .1rem var(--accent-color);
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}





/********/
/* GRID */
/********/

body {
  display: grid;

  grid-template-columns:
    [full-start] minmax(var(--gap), 1fr)
    [large-start medium-start small-start] var(--gap)
    [inset-start] min(40rem, 100% - var(--gap) * 3) [small-end]
    minmax(0, var(--gap))
    [side-start] minmax(0, 6rem) [inset-end medium-end] 
    minmax(0, 6rem) [large-end side-end]
    minmax(var(--gap), 1fr) [full-end];
}